<div class="container">
  <div class="row">
    <div class="col-md-4"><strong>Name</strong></div>
    <div class="col-md-4"><strong>Id</strong></div>
    <div class="col-md-4"><strong>Email</strong></div>
  </div>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let user of users">
      <div class="row">
        <div class="col-md-4">{{ user.name }}</div>
        <div class="col-md-4">{{ user.id }}</div>
        <div class="col-md-4">{{ user.email }}</div>
      </div>
    </li>
  </ul>
  <!-- </div> -->
</div>