<div class="row">
    <div class="col-md-6">
      <div *ngIf="this.user" class="well well-sm">
        <h4>User Detail</h4>
  
        <label>ID</label>
        <input type="text" class="form-control" [(ngModel)]="user.id" />
  
        <label>Name</label>
        <input type="text" class="form-control" [(ngModel)]="user.name" />
  
        <label>Email</label>
        <input type="text" class="form-control" [(ngModel)]="user.email" />
  
        <br>
        <button class="btn btn-primary" (click)="save()">Save</button>
        <button class="btn btn-default" (click)="cancel()">Cancel</button>
  
      </div>
    </div>
  </div>